<footer class="site-footer">
    <div class="blog-footer">
        <div class="container">
            <div class="row visible-xs-block">
                <div class="col-md-7">
                    <p>Nicholas Armstrong is a technology enthusiast from Canada focusing on UI/UX and architecture
                       for mobile, desktop, and web.</p>
                </div>
                <div class="col-md-offset-1 col-md-4">
                    <h3><a href="{{ site.url }}" style="color: #FFF">{{ site.url }}</a></h3>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-md-7">

                    <h3>Who is Nicholas?</h3>

                    <p>Nicholas Armstrong is a technology enthusiast currently living in Waterloo, Ontario.  A graduate
                    of Computer Engineering at the University of Waterloo (BASc and MASc), I work full-time at <a
                    href="http://pravala.com">Pravala Networks</a>, a startup focused on improving multi-network
                    experiences on mobile devices through Wi-Fi offload, bandwidth aggregation, quality monitoring, and
                    network policy. As VP Engineering, I manage development of Pravala's policy-based network platform,
                    oversee customer deployments, and work closely with our partners and customers. In this capacity, I
                    have traveled throughout Asia and North America to interact with operators, OEMs, and other
                    technology companies.</p>

                    <p>My development interests include user experience, interface design, high performance web
                    applications, and web services.  My recent work has focused on delivering high-performance web
                    services to drive mobile clients and web applications at scale, and single-page web applications
                    built on top of those services. Over the course of my career I have worked extensively with node.js,
                    Android, WPF, SQL, and .NET, and have experience in numerous other languages, platforms, tools, and
                    environments.</p>

                </div>
                <div class="col-md-offset-1 col-md-4">

                    <h3>Find me</h3>

                    <table class="where-table">
                        <tr>
                            <td class="text-center"><span class="fa fa-twitter"></span></td>
                            <td><a href="https://twitter.com/ndrarmstrong">@ndrarmstrong</a></td>
                        </tr>
                        <tr>
                            <td class="text-center"><span class="fa fa-github"></span></td>
                            <td><a href="https://github.com/ndrarmstrong/">@ndrarmstrong</a></td>
                        </tr>
                        <tr>
                            <td class="text-center"><span class="fa fa-stack-overflow"></span></td>
                            <td><a href="http://stackoverflow.com/users/112250/nicholas-armstrong">Nicholas Armstrong</a></td>
                        </tr>
                        <tr>
                            <td class="text-center"><span class="fa fa-facebook"></span></td>
                            <td><a href="http://www.facebook.com/ndrarmst">Nicholas Armstrong</a></td>
                        </tr>
                        <tr>
                            <td class="text-center"><span class="fa fa-linkedin"></span></td>
                            <td><a href="http://ca.linkedin.com/in/ndrarmst">Nicholas Armstrong</a></td>
                        </tr>
                        <tr>
                            <td class="text-center"><span class="fa fa-google-plus"></span></td>
                            <td><a href="https://plus.google.com/117342198488031134980/about">+Nicholas Armstrong</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row hidden-print hidden-xs">
                <div class="col-md-12">
                    <p class="blog-subfooter"><small>
                        Made in <a href="http://www.canada.gc.ca">Canada</a>.
                        Generated with <a href="http://jekyllrb.com">Jekyll</a>.
                        Hosting by <a href="http://aws.amazon.com/s3">Amazon</a>.
                    </small></p>
                </div>
            </div>
        </div>
    </div>
</footer>
