<footer class="site-footer">
    <div class="blog-footer">
        <div class="container">
            <div class="row visible-xs-block">
                <div class="col-md-7">
                    <p>Nicholas Armstrong is a technology enthusiast from Canada focusing on UI/UX and architecture
                       for mobile, desktop, and web.</p>
                </div>
                <div class="col-md-offset-1 col-md-4">
                    <h3><a href="{{ site.url }}" style="color: #FFF">{{ site.url }}</a></h3>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-md-7">

                    <h3>Who is Nicholas?</h3>

                    <p>Nicholas Armstrong is a software leader in Kitchener-Waterloo, Ontario.  Previously
                    the Director of Software for <a href="http://carnegietechnologies.com">Carnegie Technologies</a>,
                    my focus is on startup-scale leadership &mdash; building the team, establishing the engineering culture,
                    designing the overall system architecture &mdash; while being hands-on in development.</p>

                    <p>Prior to Carnegie, I received a Master’s of Applied Science in Electrical and Computer
                    Engineering from the University of Waterloo and held positions with Pravala Networks, Microsoft,
                    and more.</p>

                    <p>My development interests include cloud services, mobile &amp; web apps, networks, user experience, and
                    web application performance. Over the course of my career I have worked extensively with node.js, Docker,
                    Android, React, and Power BI, and have experience in numerous other languages, platforms, tools, and
                    environments.</p>

                </div>
                <div class="col-md-offset-1 col-md-4">

                    <h3>Find me</h3>

                    <table class="where-table">
                        <tr>
                            <td class="text-center"><span class="fa fa-linkedin"></span></td>
                            <td><a href="http://ca.linkedin.com/in/ndrarmst">Nicholas Armstrong</a></td>
                        </tr>
                        <tr>
                            <td class="text-center"><span class="fa fa-github"></span></td>
                            <td><a href="https://github.com/ndrarmstrong/">@ndrarmstrong</a></td>
                        </tr>
                        <tr>
                            <td class="text-center"><span class="fa fa-stack-overflow"></span></td>
                            <td><a href="http://stackoverflow.com/users/112250/nicholas-armstrong">Nicholas Armstrong</a></td>
                        </tr>
                        <tr>
                            <td class="text-center"><span class="fa fa-facebook"></span></td>
                            <td><a href="http://www.facebook.com/ndrarmst">Nicholas Armstrong</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row hidden-print hidden-xs">
                <div class="col-md-12">
                    <p class="blog-subfooter"><small>
                        Made in <a href="http://www.canada.gc.ca">Canada</a>.
                        Generated with <a href="http://jekyllrb.com">Jekyll</a>.
                        Hosting by <a href="http://aws.amazon.com/s3">Amazon</a>.
                    </small></p>
                </div>
            </div>
        </div>
    </div>
</footer>
