---
layout: default
---
<div class="container blog-main">
    <div class="row">
        <div class="col-sm-12">
            <div class="media section-list" style="margin-top: 20px">
                <a class="pull-left hidden-xs" href="{{ site.baseurl }}/about/">
                    <img class="media-object post-img-150" src="{{ site.baseurl }}/assets/images/homePhoto.jpg" />
                </a>
                <div class="media-body section-list-body">
                    <p>
                        <strong>Nicholas Armstrong</strong> is a software leader in Kitchener-Waterloo, Ontario.  
                    </p>
                    <p style="margin-top: 0px;">
                        My focus is on startup-scale leadership &mdash; building the team, establishing the engineering culture,
                        designing the overall system architecture &mdash; across cloud services, mobile &amp; web apps, networks,
                        and UI/UX.
                    </p>
                    <p style="margin-top: 0px;">
                        My recent hands-on development has been with
                        <a href="https://www.docker.com/">Docker</a>,
                        <a href="https://kubernetes.io/">Kubernetes</a>,
                        <a href="https://nodejs.org">node.js</a>,
                        <a href="https://reactjs.org/">React</a>,
                        <a href="https://postgresql.org">PostgresSQL</a>,
                        <a href="https://powerbi.microsoft.com/">Power BI</a>,
                        <a href="https://developer.android.com/">Android</a>,
                        and <a href="https://www.typescriptlang.org/">TypeScript</a>.
                    </p>
                    <p style="margin-top: 0px;">
                        My last role was as Director of Software for 
                        <a href="http://carnegietechnologies.com">Carnegie Technologies</a> (now defunct).
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 style="margin-top: 40px; margin-bottom: 0px;">Articles</h3>
        </div>
    </div>
    <div class="row">
        {% for post in site.posts limit:2 %}
        <div class="col-lg-6">
            <h3 style="margin-top: 15px"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <p style="margin-top: -10px"><small class="muted">{{ post.date | date: "%b %-d, %Y" }}</small></p>
            <p style="margin-top: 0px">{{ post.excerpt | strip_html}}</p>
            <p style="text-align: right; margin-top: -10px;" class="hidden-xs"><small><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More &rarr;</small></a>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="blog-post">
                {{ content }}
            </div>
        </div>
    </div>
</div>
